<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4 animated fadeIn">Sobre héroes del Universo Marvel y DC!</h1>
    <p class="lead animated fadeIn">Está es una primera SPA hecha con Angular, para aprovechar el uso de componentes y rutas.</p>
    <hr class="my-4 animated fadeIn">
    <p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eligendi odit laudantium doloremque nisi perspiciatis aspernatur cum illo omnis quibusdam molestias, excepturi, alias numquam voluptate veniam unde fuga repellat maxime sit expedita
        nesciunt voluptas, illum nobis fugit? Sapiente ducimus vel illum tempora, nisi deleniti, obcaecati molestias ut deserunt nam voluptatum!</p>

</div>